server:
  port: 8080

spring:
  application:
    name: route-optimizer

  datasource:
    url: jdbc:postgresql://localhost:5432/delivery_db
    username: postgres
    password: iamback

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
